[Desktop Entry]
Type=Application
Name=Install with Tandem (Android)
Name[pt_BR]=Instalar com Tandem (Android)
Name[es]=Instalar con Tandem (Android)
Name[fr]=Installer avec Tandem (Android)
Name[zh_CN]=用 Tandem 安装（Android）
Name[hi]=Tandem से इंस्टॉल करें (Android)
Name[ar]=التثبيت بواسطة Tandem (Android)
Comment=Install this Android app
Comment[pt_BR]=Instala este aplicativo Android
Comment[es]=Instala esta aplicación de Android
Comment[fr]=Installe cette application Android
Comment[zh_CN]=安装这个 Android 应用
Comment[hi]=यह Android ऐप इंस्टॉल करता है
Comment[ar]=يثبّت تطبيق Android هذا
Exec=/usr/bin/tandem-apk %f
Icon=tandem
Terminal=false
NoDisplay=false
MimeType=application/vnd.android.package-archive;application/vnd.android.xapk;application/vnd.android.apks;application/vnd.android.apkm;
Categories=System;
