[Desktop Entry]
Type=Application
Name=Tandem
Comment=Run Windows programs and Android apps
Comment[pt_BR]=Rode programas Windows e apps Android
Exec=/usr/bin/tandem
Icon=tandem
Terminal=false
Categories=System;Utility;
Keywords=wine;windows;android;waydroid;exe;apk;xapk;
StartupNotify=true
